@using BuyMe.Application.InvoiceType.Commonds.CreatEditIInvoiceType
@model CreatEditInvoiceTypeCommond
@{
    Layout = null;
}
<style>
    .dropDownListTop {
        margin-top: 15px;
    }
</style>
<div>
    <input asp-for="InvoiceTypeId" type="hidden" />
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="InvoiceTypeName" />
                <span class="e-float-line"></span>
                <label asp-for="InvoiceTypeName" class="e-float-text e-label-top">InvoiceType Name</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Description" />
                <span class="e-float-line"></span>
                <label asp-for="Description" class="e-float-text e-label-top">InvoiceType Description</label>
            </div>
        </div>
    </div>
</div>

<ejs-scripts></ejs-scripts>