@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="~/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 text-center">
                            <img src="~/images/logo.png" />
                        </div>
                        <header>
                            <h1 class="text-danger">@ViewData["Title"]</h1>
                            <p class="text-danger">You do not have access to this resource <a href="/">Home</a>.</p>
                        </header>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

