@page
@inject BuyMe.Application.Common.Interfaces.ICompanyService companyService
@model LoginModel

@{ 
    var logo =(await companyService.GetCurrentCompany())?.Logo;
    logo ??= "/images/logo.png";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="~/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 text-center">
                            <img src="@logo" />
                        </div>
                        <form method="post">
                            <div class="form-group last mb-4">
                                <p class="alert alert-warning">
                                    Current Organization  @(HttpContext.Request.Cookies.TryGetValue("tenant",out var value)?value:"Default" )
                                    <a href="#" class="badge badge-warning" data-toggle="modal" data-target="#exampleModal">
                                        Change
                                    </a>
                                </p>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group first">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" asp-for="Input.Email">
                            </div>
                            <div class="form-group last mb-4">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" asp-for="Input.Password">
                            </div>
                            <input type="submit" value="Log In" class="btn text-white btn-block btn-success" style="background-color: #29BB8A">

                            <a asp-page="Register">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Organization Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-area="" asp-action="Index" asp-controller="Home">
                    <div class="form-group last mb-4">

                        <input type="text" placeholder="Organization Name" class="form-control" name="tenant">
                    </div>
                    <button class="btn btn-primary" type="submit">Login</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}