@page
@inject BuyMe.Application.Common.Interfaces.ICompanyService companyService
@model LoginModel

@{ 
    var logo =(await companyService.GetCurrentCompany())?.Logo;
    logo ??= "/images/logo.png";
}
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="~/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 text-center">
                            <img src="@logo" />
                        </div>
                        <form method="post">
                            <div class="form-group last mb-4">
                                <p class="alert alert-warning">
                                    Current Organization  @(HttpContext.Request.Cookies.TryGetValue("tenant",out var value)?value:"Default" )
                                    <a href="#" class="badge badge-warning" data-toggle="modal" data-target="#exampleModal">
                                        Change
                                    </a>
                                </p>
                            </div>
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group first">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" asp-for="Input.Email">
                            </div>
                            <div class="form-group last mb-4">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" asp-for="Input.Password">
                            </div>
                            <input type="submit" value="Log In" class="btn text-white btn-block btn-success" style="background-color: #29BB8A">

                            <a asp-page="Register">Register</a>
                            <br />
                            <a asp-page="NewOrganization">New Organization</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}