@page
@using MediatR
@inject IMediator _mediator
@model LoginModel

@{
    var tenant = HttpContext.Request.Cookies.TryGetValue("tenant", out var tenantName) ? tenantName : "Default";
    var logo = (await _mediator.Send(new GetTenantByNameQuery() { TenantName = tenant }))?.TenantLogo;
    logo ??= "/images/logo.png";
}
<div id="login"></div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="~/images/undraw_file_sync_ot38.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 text-center">
                            <img src="@logo" />
                        </div>
                        <div class="form-group last mb-4">
                            <p class="alert alert-warning">
                                Current Organization <a href="#">@(tenant)</a>

                                @if (tenant == "Default")
                                {
                                    <a asp-page="NewOrganization" class="text-warning">Subscripe in premium to create your own organization</a>
                                }

                            </p>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button type="button" class="input-group-text" onclick="copyOrgLink()" data-toggle="tooltip" data-placement="top" title="Copy Organization Link"><i class="bi bi-clipboard-check"></i></button>
                                </div>
                                <input type="url" readonly class="form-control" id="orglink">
                            </div>
                        </div>
                        <form method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group first">
                                <label for="Email">Email</label>
                                <input type="text" class="form-control" asp-for="Input.Email">
                            </div>
                            <div class="form-group last mb-4">
                                <label for="Password">Password</label>
                                <input type="password" class="form-control" asp-for="Input.Password">
                            </div>
                            <input type="submit" value="Log In" class="btn text-white btn-block btn-success" style="background-color: #29BB8A">

                            <a asp-page="Register">Register</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
<script>
    function copyOrgLink() {
        /* Get the text field */
        var copyText = document.getElementById("orglink");

        /* Select the text field */
        copyText.select();
        copyText.setSelectionRange(0, 99999); /* For mobile devices */

        /* Copy the text inside the text field */
        navigator.clipboard.writeText(copyText.value);
    }
    $(document).ready(() => {
        const origin = window.location.origin;
        $('#orglink').val(`${origin}/Home/Index?tenant=@(tenant)`);
        $(document).ready(function () {
            // Handler for .ready() called.
            $('html, body').animate({
                scrollTop: $('#login').offset().top
            }, 'slow');
        });
    });
</script>
}