@page
@model BuyMe.UI.Areas.Identity.Pages.Account.NewOrganizationModel


    <style>
        .fileLogo {
            display: block;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        }
    </style>

    <div class="container">
        <div class="row">
            <div class="col-md-12 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4 text-center">
                            <img src="~/images/logo.png" />
                        </div>
                        <form id="myForm" method="post" style="margin-bottom:15px">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input asp-for="CompanyCommond.Id" type="hidden" />
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="e-float-input e-control-wrapper">
                                        <input asp-for="CompanyCommond.Name" />
                                        <span class="e-float-line"></span>
                                        <label asp-for="CompanyCommond.Name" class="e-float-text e-label-top">Company Name</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="e-float-input e-control-wrapper">
                                        <input asp-for="CompanyCommond.Country" />
                                        <span class="e-float-line"></span>
                                        <label asp-for="CompanyCommond.Country" class="e-float-text e-label-top">Country</label>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <div class="e-float-input e-control-wrapper">
                                        <input asp-for="CompanyCommond.City" />
                                        <span class="e-float-line"></span>
                                        <label asp-for="CompanyCommond.City" class="e-float-text e-label-top">City</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-12">
                                    <div class="e-float-input e-control-wrapper">
                                        <input asp-for="CompanyCommond.Business" />
                                        <span class="e-float-line"></span>
                                        <label asp-for="CompanyCommond.Business" class="e-float-text e-label-top">Business</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <div class="e-float-input e-control-wrapper">
                                        <input asp-for="CompanyCommond.Telephone" />
                                        <span class="e-float-line"></span>
                                        <label asp-for="CompanyCommond.Telephone" class="e-float-text e-label-top">Telephone</label>
                                    </div>
                                </div>

                                <div class="form-group col-md-6">
                                    <input type="hidden" asp-for="CompanyCommond.Logo" />
                                    <label for="formFile" class="form-label">Logo</label>
                                    <input type="file" class="fileLogo" id="formFile">
                                </div>

                            </div>


                            <button type="submit" class="btn btn-success mb-2 float-right">New Organization</button>
                            <a asp-page="HaveOrganization">Have Organization Account</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    @section Scripts{
        <partial name="_ValidationScriptsPartial" />
        <script>



            function readFile() {

                if (this.files && this.files[0]) {

                    var FR = new FileReader();

                    FR.addEventListener("load", function (e) {
                        document.getElementById("CompanyCommond_Logo").value = e.target.result;
                    });

                    FR.readAsDataURL(this.files[0]);
                }

            }

            document.getElementById("formFile").addEventListener("change", readFile);




        </script>

    }
