@page
@using MediatR
@inject IMediator _mediator
@model BuyMe.UI.Areas.Identity.Pages.Account.RegisterModel
@{
    var tenant = HttpContext.Request.Cookies.TryGetValue("tenant", out var tenantName)? tenantName:"Default";
    var logo = (await _mediator.Send(new GetTenantByNameQuery() { TenantName= tenant }))?.TenantLogo;
    logo ??= "/images/logo.png";
}
<style>
    .fileLogo {
        display: block;
        width: 100%;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
</style>
<div id="register"></div>
<div class="container" >
    <div class="row">
        <div class="col-md-12 contents">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="mb-4 text-center">
                        <img src="@logo" />
                    </div>
                    <form id="myForm" method="post" style="margin-bottom:15px">
                        <div class="form-group last mb-4 text-xl-center">
                            <p class="alert alert-warning">
                                Current Organization  @(tenant)
                                <a href="#" class="badge badge-warning" data-toggle="modal" data-target="#exampleModal">
                                    Change
                                </a>
                            </p>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <input asp-for="employeeCommond.Id" type="hidden" />
                        <input asp-for="employeeCommond.CompanyId" type="hidden" />
                        <input asp-for="employeeCommond.UserId" type="hidden" />
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="e-float-input e-control-wrapper">
                                    <input asp-for="employeeCommond.FirstName" />
                                    <span class="e-float-line"></span>
                                    <label asp-for="employeeCommond.FirstName" class="e-float-text e-label-top">FirstName</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="e-float-input e-control-wrapper">
                                    <input asp-for="employeeCommond.LastName" />
                                    <span class="e-float-line"></span>
                                    <label asp-for="employeeCommond.LastName" class="e-float-text e-label-top">LastName</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <div class="e-float-input e-control-wrapper">
                                    <input asp-for="employeeCommond.Email" />
                                    <span class="e-float-line"></span>
                                    <label asp-for="employeeCommond.Email" class="e-float-text e-label-top">Email</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="e-float-input e-control-wrapper">
                                    <input asp-for="employeeCommond.Password" type="password"/>
                                    <span class="e-float-line"></span>
                                    <label asp-for="employeeCommond.Password" class="e-float-text e-label-top">Password</label>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <div class="e-float-input e-control-wrapper">
                                    <input asp-for="employeeCommond.ConfirmPassword" type="password"/>
                                    <span class="e-float-line"></span>
                                    <label asp-for="employeeCommond.ConfirmPassword" class="e-float-text e-label-top">ConfirmPassword</label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success mb-2">Register</button>
                        <br />
                        <a asp-page="Login">Login</a>
                        <br />
                        <a asp-page="NewOrganization">New Organization</a>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
    <script>

        $(document).ready(() => {

            $(document).ready(function () {
                // Handler for .ready() called.
                $('html, body').animate({
                    scrollTop: $('#register').offset().top
                }, 'slow');
            });
        });

        function readFile() {

            if (this.files && this.files[0]) {

                var FR = new FileReader();

                FR.addEventListener("load", function (e) {
                    document.getElementById("companyCommond_Logo").value = e.target.result;
                });

                FR.readAsDataURL(this.files[0]);
            }

        }

        document.getElementById("formFile").addEventListener("change", readFile);


        $('#myForm a.next,a.previous').click(function (e) {
            e.preventDefault();
            $(this).removeClass('active');
            $(this).tab('show');
        })

    </script>

}
