
<div id="displayProfile">
    <section class="content">
        <div class="control-section">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">User Profile</h3>
                </div><!-- /.box-header -->
                <!-- form start -->

            </div><!-- /.box -->
        </div>
    </section>
</div>
<div id="editProfile">
    <section class="content">
        <div class="control-section">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Edit Profile</h3>
                </div><!-- /.box-header -->
                <!-- form start -->

            </div><!-- /.box -->
        </div>
    </section>
</div>
<div id="changPassword">
    <section class="content">
        <div class="control-section">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Change Profile</h3>
                </div><!-- /.box-header -->
                <!-- form start -->

            </div><!-- /.box -->
        </div>
    </section>
</div>