@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor _httpAccessor

@{
   var currentTenan= _httpAccessor.HttpContext.Request.Cookies.TryGetValue("tenant",out var value)?value:"Default";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Tenant
        <small>Config</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Config</a></li>
        <li class="active">Tenant</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="control-section">

        <div class="row">
            <!-- solid sales graph -->
            <div class="col-lg-6">
                 <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Tenant Manage</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form role="form" id="newTenant">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="exampleInputEmail1">Current Tenant</label>
                      <input type="text" readonly class="form-control" id="exampleInputEmail1" value="@currentTenan">
                    </div>
                    <div class="form-group">
                      <label for="tenantName">New Tenant</label>
                      <input type="text" class="form-control" id="tenantName" placeholder="New Tenant">
                    </div>
                   
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div><!-- /.box -->
            </div>
        </div>
    </div>
</section>
@section Scripts
{
    <script>

        $(document).ready(function () {

            $('#newTenant').on('submit', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/Config/Tenant/UpSertTenant',
                    type: 'POST',
                    data: { TenantName: $('#tenantName').val() },
                    success: function (result) {
                        console.log(result);
                    }

                });
            });
        });
    </script>
}