@using BuyMe.Application.Employee.Commonds.CreateEdit
@model CreatEditEmployeeCommond
@{
    Layout = null;
}
<style>

    .e-checkbox-wrapper {
        margin-top: 18px;
    }

        .e-checkbox-wrapper.e-primary:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #e03872;
        }

        .e-checkbox-wrapper.e-success .e-frame.e-check,
        .e-checkbox-wrapper.e-success .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #689f38;
        }

        .e-checkbox-wrapper.e-success:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #449d44;
        }

        .e-checkbox-wrapper.e-info .e-frame.e-check,
        .e-checkbox-wrapper.e-info .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #2196f3;
        }

        .e-checkbox-wrapper.e-info:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #0b7dda;
        }

        .e-checkbox-wrapper.e-warning .e-frame.e-check,
        .e-checkbox-wrapper.e-warning .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #ef6c00;
        }

        .e-checkbox-wrapper.e-warning:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #cc5c00;
        }

        .e-checkbox-wrapper.e-danger .e-frame.e-check,
        .e-checkbox-wrapper.e-danger .e-checkbox:focus + .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #d84315;
        }

        .e-checkbox-wrapper.e-danger:hover .e-frame.e-check { /* csslint allow: adjoining-classes */
            background-color: #ba3912;
        }
</style>
<div>
    <input asp-for="Id" type="hidden" />
    <input asp-for="CompanyId" type="hidden"/>
    <input asp-for="UserId" type="hidden"/>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="FirstName" />
                <span class="e-float-line"></span>
                <label asp-for="FirstName" class="e-float-text e-label-top">FirstName</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="LastName" />
                <span class="e-float-line"></span>
                <label asp-for="LastName" class="e-float-text e-label-top">LastName</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Country" />
                <span class="e-float-line"></span>
                <label asp-for="Country" class="e-float-text e-label-top">Country</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="City" />
                <span class="e-float-line"></span>
                <label asp-for="City" class="e-float-text e-label-top">City</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Title" />
                <span class="e-float-line"></span>
                <label asp-for="Title" class="e-float-text e-label-top">Title</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="HomePhone" />
                <span class="e-float-line"></span>
                <label asp-for="HomePhone" class="e-float-text e-label-top">Home Phone</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Email" />
                <span class="e-float-line"></span>
                <label asp-for="Email" class="e-float-text e-label-top">Email</label>
            </div>
        </div>

    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input  asp-for="Password" />
                <span class="e-float-line"></span>
                <label asp-for="Password" class="e-float-text e-label-top">Password</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input  asp-for="ConfirmPassword" />
                <span class="e-float-line"></span>
                <label asp-for="ConfirmPassword" class="e-float-text e-label-top">ConfirmPassword</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Region" />
                <span class="e-float-line"></span>
                <label asp-for="Region" class="e-float-text e-label-top">Region</label>
            </div>
        </div>
        <div class="form-group col-md-6">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Address" />
                <span class="e-float-line"></span>
                <label asp-for="Address" class="e-float-text e-label-top">Address</label>
            </div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
                <ejs-datepicker ejs-for="BirthDate" placeholder="BirthDate"></ejs-datepicker>
        </div>
        <div class="form-group col-md-6">
                <ejs-datepicker ejs-for="HireDate" placeholder="HireDate"></ejs-datepicker>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <div class="e-float-input e-control-wrapper">
                <input asp-for="Notes" />
                <span class="e-float-line"></span>
                <label asp-for="Notes" class="e-float-text e-label-top">Notes</label>
            </div>
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-md-12">

            <div class="e-float-input upload-area">
                <input type="text" id="Photo" value="@Model.Photo" name="Photo" style="display:none">
            </div>
            <ejs-uploader id="fileupload" autoUpload="false" selected="onFileSelect" removing="removeImage" multiple="false"> </ejs-uploader>
        </div>
    </div>
    @if (Model.Photo != null)
    {
        <div class="form-row">
            <div class="form-group col-md-12">


                <div style="display: block;border-radius: 3px;">
                    <span class="e-avatar e-avatar-xlarge" style="background-image:url(@Model.Photo)"></span>
                </div>

            </div>
        </div>

    }
</div>
<ejs-scripts></ejs-scripts>